.sixthpage {
    text-align: initial;
    top: 4657px;
    left: 231px;
    font-size: 13px;
    width: 65%;
    height: 364px;
    /* border: 2px solid red; */
    position: absolute;
}
.headpara{
    /* border: 2px solid; */
    position: absolute;
}
.imageeeee{
    top: 128px;
    width: 874px;
    position: absolute;
    left: 0px;
}